{% extends 'health/base.html' %}
{% block title %}Welcome to Health and Fitness block{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>Categories</h2>
            {% if categories %}
                <ul>
                {% for category in categories %}
                    <li style="text-align: left"><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p style="color: #FFD700; text-align: left">There are no posts.</p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>Posts</h2>
            {% if posts %}
                <ul>
                {% for post in posts %}
                    <div class="card card-outline-primary mb-3 text-center" style="background-color: black">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <li style="text-align: left"><a href="{{ post.get_absolute_url }}" style="color: #FFD700">{{ post.title }}{{ post.price }}</a></li>
                            </blockquote>
                        </div>
                    </div>   
                {% endfor %}
                </ul>
            {% else %}
                <div class="card card-outline-primary mb-3 text-center" style="background-color: black">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p style="color: #FFD700; text-align: left">There are no posts.</p>
                        </blockquote>
                    </div>
                </div>   
            {% endif %}
        </div>
    </div>
{% endblock %}
